extends layout

block header-content
    script(src="javascripts/geolocation.js")

block content
    h1= title
    p Welcome to #{title}
    //if !!position
    //    p Your position is #{position.latitude}, #{position.longitude}
    //else
    //    p Position cannot be retrieved, did you enable access to your location?
    script.
        Geolocation.getLocation(function() {
            console.log(Geolocation.coords);
        });
