extends layout

block content
    .bs-docs-section
        if !places || places.length === 0
            .alert.alert-info
                span No results match given criteria. &nbsp;
                a(href="/") Change parameters
        else
            ul
            each place in places
                li #{place.name}